<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
        
    <parameters>

        <parameter key="liip_validation_service.filters.ignores_in_message" type="collection" />

        <parameter key="liip_validation_service.filters.ignores_in_source" type="collection" />

        <parameter key="liip_validation_service.filters.ignores_in_level" type="collection">
            <parameter>info</parameter>
            <parameter>warning</parameter>
        </parameter>

    </parameters>

</container>
