html, body {
    background-color: white;
}
label {
    display: block;
    font-weight: bold;
}
table {
    width: 100%;
}
thead {
    background-color: #DDDDDD;
    font-weight: bold;
}
th, td {
    padding: 5px;
}
fieldset {
    margin: 10px;
    padding: 10px;
    border: 1px solid #DDDDDD;
}